profiles/de_dust3/net-kHALF-batch1.engine filter=lfs diff=lfs merge=lfs -text
profiles/de_dust3/net.weight filter=lfs diff=lfs merge=lfs -text
profiles/de_dust3/net.weights filter=lfs diff=lfs merge=lfs -text
